
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<a asp-action="Index" class="btn btn-primary float-end"> Appointment </a>
<a asp-action="IndexDoctor" class="btn btn-primary float-end"> Doctors </a>
<a asp-action="IndexSpecialization" class="btn btn-primary float-end"> Specialization </a>